:root {
    --seasalt: #f8f9faff;
    --antiflash-white: #e9ecefff;
    --platinum: #dee2e6ff;
    --french-gray: #ced4daff;
    --french-gray-2: #adb5bdff;
    --slate-gray: #6c757dff;
    --outer-space: #495057ff;
    --onyx: #343a40ff;
    --eerie-black: #212529ff;
    --logo-color: #ff5733ff;

    --brick: #720E07;
}

nav.obc {
    border-bottom: 4px solid var(--french-gray);
    position: relative;
    background-color: var(--brick);
    z-index: 2;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.obc img {
    height: 4em;
    margin: 10px;
    padding-bottom: 0;
}

.obc div.content {
    color: var(--antiflash-white);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.obc ul {
    list-style-type: none;
    display: flex;
    gap: 0;
    padding: 0 10px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.obc ul li {
    padding: 0;
    margin: 0;
}

.section {
    display: flex;
}

.section .logo-name {
    margin-top: 40px;
    font-size: 25px;
}

.search-form {
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.search-form:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input {
    flex: 1;
    border: none;
    padding: 0.75rem 1rem;
    outline: none;
    font-size: 1rem;
    border-radius: 25px 0 0 25px;
}


.search-button:hover {
    background-color: #0056b3;
}

.search-input::placeholder {
    color: #aaa;
    font-style: italic;
}

.obc a {
    text-decoration: none;
    color: var(--seasalt);
}

#logo {
    color: var(--french-gray);
}

.acounts {
    padding: 10px;
    display: flex;
}

.searchbar {
    margin-right: 40px;
    color: white;
}

.obc a svg {
    height: 1.5em;
    margin-right: 30px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo-name {
    color: white;
}

.search-button {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

body>nav>div.acounts>div>form>button>svg {
    height: 18px;
    color: black;
}