


.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.form input {
    display: block;
    padding: 5px 5px;
    font-family: 'Space Mono';
    max-width: max-content;
}

.form #submit {
    padding: 10px;
    font-family: 'Space Mono';
    margin-top: 10px;
    outline: 0;
    border: 1px solid silver;
    background-color: #058fb9;
    color: white;
    border-radius: 5px;
}

.form #submit:hover {
    text-decoration: underline;
    cursor: pointer;
}

.form textarea {
    width: 1000px;
}

.flash-message {
    border: 1px solid rgba(1, 88, 13, 0.747);
    background-color: rgba(50, 205, 50, 0.507);
}

.view-question {
    padding: 20px;
    border: 2px solid silver;
    margin: 10px;
}

.reply {
    font-size: 10px;
}

.reply small {
    font-size: 12px;
}

.question-title {
    display: block;
    font-size: 26px;
}

.vote-buttons a {
    cursor: pointer;
    padding: 10px;
    display: block;
    outline: 3px solid black;
    text-decoration: none;
}

.vote-buttons .upvote-icon {
    color: green;
}

.vote-buttons .downvote-icon {
    color: red;
}

.vote-buttons {
    display: flex;
    gap: 15px;
}

.username {
    text-align: center;
}

.item h3 {
    font-size: 30px;
}