{% extends 'base.html' %}

{% block content %}
  <h1>View Questions</h1>

  <div class="parent">
    <div class="view_questions">
      <form method="get" action="{{ url_for('home') }}" class="sort-form">
        <label for="sort_by">Sort by:</label>
        <select id="sort_by" name="sort_by" onchange="this.form.submit()">
            <option value="id" {% if request.args.get('sort_by') == 'id' %}selected{% endif %}>Newest</option>
            <option value="popularity" {% if request.args.get('sort_by') == 'popularity' %}selected{% endif %}>Popularity</option>
            <option value="comments" {% if request.args.get('sort_by') == 'comments' %}selected{% endif %}>Answers</option>
        </select>
      </form>  

      {% for question in questions %}
      <div class="question">
        <div class="vote-buttons">
            <a class="vote-button upvote-icon" href="{{url_for('upvote_post', post_id=question.id, del=1) }}" >&#9650;</a>
            <span>{{ question.votes }}</span>
            <a class="vote-button downvote-icon" href="{{url_for('upvote_post', post_id=question.id, del=-1) }}">&#9660;</a>
        </div>
        <div class="notvotebuttons">
          <a href="{{ url_for('view_question', id=question.id) }}" class="question-title">Q: {{ question.title }}</a>
          <h4>~ <a href="{{ url_for('view_user', username=question.op.username)}}">{{ question.op.display_name }}</a> </h4>
          <p>{{ question.content }}</p>
          <small>Tags: {{ question.tags }}</small>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="ask_questions">
        <h2>User Leaderboard</h2>
        <table class="leaderboard">
          <thead>
              <tr>
                  <th>Rank</th>
                  <th>Username</th>
                  <th>Questions </th>
                  <th>Comments </th>
                  <th>Points</th>
              </tr>
          </thead>
          <tbody>
              {% for user in leaderboard_data %}
              <tr>
                  <td>{{ loop.index }}</td>
                  <td>
                    <a href="{{ url_for('view_user', username=user.username) }}">{{ user.username }}</a> 
                  </td>
                  <td>{{ user.questions_asked or 0 }}</td>
                  <td>{{ user.comments_made or 0 }}</td>
                  <td>{{ user.total_votes_received or 0 }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </div>

{% endblock %}