{% extends 'base.html' %}

{% block content %}

<div class="view-question">
  <h2 class="question-title"> {{ question.title }} </h2>
  <p class="question-content"> {{ question.content }} </p>
  <div class="replies">
    {% for reply in replies %}
    <div class="reply">
      <small>{{ reply.op.display_name }}</small>
      <h3 class="reply-content">{{ reply.content }}</h3>
    </div>
    {% endfor %}
  </div>
</div>

<div class="reply-form">
  <form action="" method="POST">
    <fieldset>
      {{ form.hidden_tag() }}

      {% if form.content.errors %}
      {{ form.content() }}

      {% for error in form.content.errors %}
      <p class="form-error">{{ error }}</p>
      {% endfor %}
      {% else %}
      {{ form.content() }}
      {% endif %}

      {{ form.submit() }}
    </fieldset>
  </form>
</div>
{% endblock %}